<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.2.2-dist/css/bootstrap.min.css}">-->
</head>
<body>
<h3>Личный кабинет администратора</h3>
<!--<br>-->
<br>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Выйти из личного кабинета">
</form>
<!--<br>-->
<br>
<!--<a href="/admin/istoriyaZakazov">История заказов</a>-->
<form method="get" th:action="@{/admin/istoriyaZakazov}">
    <input type="submit" value="История заказов">
</form>
<!--<br>-->
<br>
<!--<a href="/admin/users">Список пользователей</a>-->
<form method="get" th:action="@{/admin/users}">
    <input type="submit" value="Список пользователей">
</form>
<!--<br>-->
<br>
<!--<a href="/product">Список товаров</a>-->
<form method="get" th:action="@{/product}">
    <input type="submit" value="Список товаров">
</form>
<!--<br>-->
<br>
<!--<a href="/admin/product/add">Добавить товар</a>-->
<form method="get" th:action="@{/admin/product/add}">
    <input type="submit" value="Добавить товар">
</form>
<!--<br>-->
<br>
<hr>
<div th:each="product : ${products}">
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()} + ' руб.'"></p>
    <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
    <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать товар</a>
    <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить товар</a>
    <hr>
</div>

<!--<script th:src="@{/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js}"></script>-->
<script th:src="@{/js/index.js}" ></script>
</body>
</html>