<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Данные пользователя</title>
</head>
<body>
<br>
<form method="get" th:action="@{/admin/users}">
    <input type="submit" value="Вернуться в список пользователей">
</form>
<br>
<form method="get" th:action="@{/admin/user/edit/{id}(id=${user.get().getId()})}">
    <input type="submit" value="Редактировать пользователя">
</form>
<h3 th:text="'login: ' + ${user.get().getLogin()}"></h3>
<p th:text="'id: ' + ${user.get().getId()}"></p>
<p th:text="'role: ' + ${user.get().getRole()}"></p>

</body>
</html>